<div class="home-container">
  <h1>Veja o que estão compartillhando</h1>
  @if (moments.length > 0) {
    <div class="moments-container">
      <div class="moment" *ngFor="let moment of moments">
        <img [src]="exibirImagem(moment.image)"
             alt="{{moment.title}}"/>
        <h3>{{ moment.title }}</h3>
        <p class="date">Em: {{ moment.created_at }}</p>
        <p>Comentários: {{ moment.comments!.length }}</p>
        <p><a routerLink="moments/{{moment.id}}">Detalhes</a></p>
      </div>
    </div>
  } @else {
    <div>
      <h2>Não há momentos cadastrados</h2>
    </div>
  }
</div>
